<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto_recomendacion_presiembra">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Proyecto Presiembra"
        android:roundIcon="@mipmap/ic_index_a"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_Recomendacion_presiembra"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".carga_porgressbar"
            android:exported="false" />
        <activity
            android:name=".Reporte_Recomendacion"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".registrar"
            android:exported="false" />
        <activity
            android:name=".Menu_consulta_reportes"
            android:exported="false" />
        <activity
            android:name=".activity_realizar_recomendacion"
            android:exported="false"
            android:label="Realizar recomendación" />
        <activity
            android:name=".splash"
            android:exported="false" />
        <activity
            android:name=".Activity_inicio_sesion"
            android:exported="false"
            android:theme="@style/Theme.Proyecto_Recomendacion_presiembra.NoActionBar" />
        <activity
            android:name=".inicio"
            android:exported="false"
            android:theme="@style/Theme.Proyecto_Recomendacion_presiembra.NoActionBar" />

        <activity
            android:name=".Consulta_recyclerview.activity.DetailActivity"
            android:exported="false"/>
        <activity
            android:name=".activity_menu_principal"
            android:exported="false"/>
        <activity
            android:name=".Consulta_recyclerview.activity.MainActivity_recycler"
            android:layout_gravity="center"
            android:exported="true"
            android:label="Menu principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>